<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>wx-1.5</display-name>
  <welcome-file-list>
    <welcome-file>accexx_wx2</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>access_wx</display-name>
    <servlet-name>access_wx</servlet-name>
    <servlet-class>com.weixin.api.access_wx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>access_wx</servlet-name>
    <url-pattern>/access_wx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendxml</display-name>
    <servlet-name>sendxml</servlet-name>
    <servlet-class>com.test.main.sendxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendxml</servlet-name>
    <url-pattern>/sendxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WechatServlet</display-name>
    <servlet-name>WechatServlet</servlet-name>
    <servlet-class>com.weixin2.servlet.WechatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WechatServlet</servlet-name>
    <url-pattern>/WechatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>posttest</display-name>
    <servlet-name>posttest</servlet-name>
    <servlet-class>com.weixin.localtest.posttest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>posttest</servlet-name>
    <url-pattern>/posttest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accexx_wx2</display-name>
    <servlet-name>accexx_wx2</servlet-name>
    <servlet-class>com.weixin.api.accexx_wx2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accexx_wx2</servlet-name>
    <url-pattern>/accexx_wx2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>access_wx3</display-name>
    <servlet-name>access_wx3</servlet-name>
    <servlet-class>com.weixin.api.access_wx3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>access_wx3</servlet-name>
    <url-pattern>/access_wx3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>access_mywx</display-name>
    <servlet-name>access_mywx</servlet-name>
    <servlet-class>com.weixin.api.access_mywx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>access_mywx</servlet-name>
    <url-pattern>/access_mywx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>acc</display-name>
    <servlet-name>acc</servlet-name>
    <servlet-class>com.weixin.api.acc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acc</servlet-name>
    <url-pattern>/acc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manager_login</display-name>
    <servlet-name>manager_login</servlet-name>
    <servlet-class>com.mywx.manager.servlet.manager_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manager_login</servlet-name>
    <url-pattern>/manager_login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Chinesefilter</display-name>
    <filter-name>Chinesefilter</filter-name>
    <filter-class>com.mywx.common.util.Chinesefilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Chinesefilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Xyforce</display-name>
    <servlet-name>Xyforce</servlet-name>
    <servlet-class>com.mywx.weixin.api.Xyforce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Xyforce</servlet-name>
    <url-pattern>/Xyforce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Weixin_Article_Add</display-name>
    <servlet-name>Weixin_Article_Add</servlet-name>
    <servlet-class>com.mywx.manager.servlet.Weixin_Article_Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Weixin_Article_Add</servlet-name>
    <url-pattern>/Weixin_Article_Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Weixin_Article_Del</display-name>
    <servlet-name>Weixin_Article_Del</servlet-name>
    <servlet-class>com.mywx.manager.servlet.Weixin_Article_Del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Weixin_Article_Del</servlet-name>
    <url-pattern>/Weixin_Article_Del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Weixin_Article_Update</display-name>
    <servlet-name>Weixin_Article_Update</servlet-name>
    <servlet-class>com.mywx.manager.servlet.Weixin_Article_Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Weixin_Article_Update</servlet-name>
    <url-pattern>/Weixin_Article_Update</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.mywx.common.util.ContextInitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Log4j_test</display-name>
    <servlet-name>Log4j_test</servlet-name>
    <servlet-class>com.mywx.common.maintest.Log4j_test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log4j_test</servlet-name>
    <url-pattern>/Log4j_test</url-pattern>
  </servlet-mapping>
</web-app>